platform: linux

image_resource:
  type: docker-image
  source:
    repository: cloudfoundry/cf-for-k8s-dind

params:
  DOCKERHUB_USERNAME: ((dockerhub.username))
  DOCKERHUB_PASSWORD: ((dockerhub.password))
  GIT_COMMIT_EMAIL: cf-release-integration@pivotal.io
  GIT_COMMIT_USERNAME: "relint-ci"

inputs:
  - name: cf-for-k8s-ci
  - name: cf-for-k8s-images
  - name: statsd_exporter

run:
  path: cf-for-k8s-ci/ci/tasks/build-statsd-exporter-image/task.sh
