apiVersion: v1
kind: ServiceAccount
metadata:
  name: cf-quarks-secret
  namespace: cf-system
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: quarkssecrets.quarks.cloudfoundry.org
spec:
  conversion:
    strategy: None
  group: quarks.cloudfoundry.org
  names:
    kind: QuarksSecret
    listKind: QuarksSecretList
    plural: quarkssecrets
    shortNames:
    - qsec
    - qsecs
    singular: quarkssecret
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          spec:
            properties:
              copies:
                description: A list of namespaced names where to copy generated secrets
                items:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
                type: array
              request:
                type: object
                x-kubernetes-preserve-unknown-fields: true
              secretLabels:
                type: object
                x-kubernetes-preserve-unknown-fields: true
              secretAnnotations:
                type: object
                x-kubernetes-preserve-unknown-fields: true
              secretName:
                description: The name of the generated secret
                minLength: 1
                type: string
              type:
                description: 'What kind of secret to generate: password, certificate, ssh, rsa, basic-auth'
                minLength: 1
                type: string
            required:
            - secretName
            - type
            type: object
          status:
            properties:
              generated:
                type: boolean
              lastReconcile:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: cf-quarks-secret
rules:
- apiGroups:
  - certificates.k8s.io
  resources:
  - certificatesigningrequests
  verbs:
  - approve
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - certificates.k8s.io
  resources:
  - signers
  resourceNames:
  - kubernetes.io/legacy-unknown
  verbs:
  - approve
- apiGroups:
  - certificates.k8s.io
  resources:
  - certificatesigningrequests/approval
  verbs:
  - create
  - update
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
  - update
- apiGroups:
  - quarks.cloudfoundry.org
  resources:
  - quarkssecrets
  verbs:
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - quarks.cloudfoundry.org
  resources:
  - quarkssecrets/status
  verbs:
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cf-quarks-secret
roleRef:
  kind: ClusterRole
  name: cf-quarks-secret
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: cf-quarks-secret
  namespace: cf-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cf-quarks-secret
  namespace: cf-system
spec:
  replicas: 1
  selector:
    matchLabels:
      name: quarks-secret
  template:
    metadata:
      labels:
        name: quarks-secret
    spec:
      serviceAccountName: cf-quarks-secret
      containers:
      - name: quarks-secret
        image: cloudfoundry/quarks-secret:v1.0.744
        ports:
        - containerPort: 60000
          name: metrics
        command:
        - quarks-secret
        imagePullPolicy: IfNotPresent
        env:
        - name: APPLY_CRD
          value: "false"
        - name: LOG_LEVEL
          value: debug
        - name: MAX_WORKERS
          value: "1"
        - name: CTX_TIMEOUT
          value: "30"
        - name: MELTDOWN_DURATION
          value: "60"
        - name: MELTDOWN_REQUEUE_AFTER
          value: "30"
        - name: MONITORED_ID
          value: cf-quarks-secret
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAME
          value: quarks-secret
