**/*.tfstate
**/*.tfstate.backup
**/.terraform/
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info
**/*.tfvars
**/kubeconfig_*
tmp
.idea
*~
images/sources/
images/build/statsd-exporter/sources/
tests/smoke/smoke.test
