#@data/values
---
system_domain: system.cf.example.com
app_domains:
#@overlay/append
- apps.cf.example.com

cf_admin_password: cfadminpassword

cf_blobstore:
  secret_key: the_blobstore_secret_key

cf_db:
  admin_password: the_cf_dbadmin_password

#! this is all you have to configure if you are opting into the included database deployment
capi:
  database:
    password: ccdb_password

log_cache_client:
  id: log-cache
  secret: log_cache_password

#! All of the certs below should have KeyUsage that includes server and client authentication.
system_certificate:
  #! This certificates and keys are base64 encoded and should be valid for *.system.cf.example.com
  crt: &crt LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUUrRENDQTJDZ0F3SUJBZ0lRUFBrOHR1YVlWRGdEVTh1amVCU0tIVEFOQmdrcWhraUc5dzBCQVFzRkFEQXoKTVF3d0NnWURWUVFHRXdOVlUwRXhGakFVQmdOVkJBb1REVU5zYjNWa0lFWnZkVzVrY25reEN6QUpCZ05WQkFNVApBbU5oTUI0WERUSXdNREV5TnpJd01qWXlNbG9YRFRJeE1ERXlOakl3TWpZeU1sb3dVREVNTUFvR0ExVUVCaE1EClZWTkJNUll3RkFZRFZRUUtFdzFEYkc5MVpDQkdiM1Z1WkhKNU1TZ3dKZ1lEVlFRRERCOHFMbk41YzNSbGJTNWoKYkc5dVpTNWtaWFl1Y21Wc2FXNTBMbkp2WTJ0ek1JSUJvakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBWThBTUlJQgppZ0tDQVlFQXU1M0E4eTNBQUMrMHRCNXJ3UWY0ckd3WnVOUkV1OW1OYk1oSFFpRnJnNk92Y1VGSzlBRFAyWXVuClJjNkJjeXg1S3ZFMHVlK2VOcWxobUVVckdzS0FlVVRZNGFFRkdpNmF2TzFxTmY5VHdDZW1JTWxGZklGaDhkdDkKY21HOXpIS0tWN1hRRXVWd2kxYlU3b0cwQjd3QWJXeTJQWHpVdFo5YWhTT1l0aTUxdUVzdmRYV29HTmIyRzVIUQptanQyMEdQcGwrSWdsb1ZiUEN0bUxtei9yTVF4cDZPdGVrZ1F4Vy85Y01HY1ZzZlRjc0dhdExQbUVzaUMzdk1QCmRqU0Qwck1TNkppUGtJVmlhZkQ2WlJkeFBDNjFYS04rUGczQ3V3ajUzMnRoVjBFMjllamF2WUJDYi9nN1h0S2YKdnhmSkgyZE4zYTUvVjRIVXRZYkZpUS9nblJqMzFWL05VdnZFcVJkWFNJckNpM2tTcldnb2l6VExJSVVsTmFEdApiVzJ5NG05RnpuZjl2UzZ2OUxIbktSVC9kV0ZqdFRIV0JFdTV5NHdFdHU1MW9uYWJNZFA0RnJFR1dEaGJoOXV4CmF1eFFIZDN0V3A1bVp3QXUxRVMySG1RK05lYzhPZjd0UkZRL0ZiSjVqM21SVHlJSFlJUTNSMXFiNjd4aFRSWlIKNnZSMGZZeUZBZ01CQUFHamdlb3dnZWN3RGdZRFZSMFBBUUgvQkFRREFnV2dNQjBHQTFVZEpRUVdNQlFHQ0NzRwpBUVVGQndNQ0JnZ3JCZ0VGQlFjREFUQU1CZ05WSFJNQkFmOEVBakFBTUIwR0ExVWREZ1FXQkJUQVFhQ2J2NUMzCkVRb2x5VldKZ1dUMklLT24wekFmQmdOVkhTTUVHREFXZ0JTNTMrVmhGMkZFR2NGS3FkNDJlZkRiUEYrNm96Qm8KQmdOVkhSRUVZVEJmZ2g4cUxuTjVjM1JsYlM1amJHOXVaUzVrWlhZdWNtVnNhVzUwTG5KdlkydHpnaDBxTG1GdwpjSE11WTJ4dmJtVXVaR1YyTG5KbGJHbHVkQzV5YjJOcmM0SWRLaTVqWmkxemVYTjBaVzB1YzNaakxtTnNkWE4wClpYSXViRzlqWVd3d0RRWUpLb1pJaHZjTkFRRUxCUUFEZ2dHQkFHM1FKc0tWMmtOT3N6NVNNcUV2K2ZDRjEyR0QKVmNhN1pBeVhKYXdobnNCVFphemRnYzRVWHM1WllqZ3RlQjZjQ3VUY3VPMmFzV3ZrYVFUa1FobThHZC9adHVWQgpHTS9Fb3l2dUJZRktiNGx6d0V3U2NxcXVJSVo0RlNnWVhIcHdpNVh4cDcra01ueU9QM3FmTlBoR0FnMHNXWmlzCndHU3M2SGZwRTJMd0lUc2ZpbFgrNmZYMXBPdklNaUw1TWN2bHVUdkNOcG95TCs3UUNFY1N0eWFoQm9zUGhPb1MKVGNRZ1R0cStrSlNCa2VsRUYySVpJaWp6T1QzUFRjejJrdW1TZTFrMXVTQmFFcldLRkt0OG1vdFkyMUUya1RsbAp2bVpmYVh5UWlWWVE2cktUKzJpUXpoSmJScHpFT0pWNjkwVFBQWFl2ZnRjc1R2VkZ5RDkrY3gzS05PL1VxeVF4CjAvNElHc1BtMVRKRStZNzU1aXd6RTY3ZlVCSFgzZTZjK3NWdFZGYWlOY2ZraTZWZ3VFSG8vaWhGeWs3WlNtdnkKRFBHR3VHMVlXSW1nMURBWmJBZGdsSTBSQ05Ta1ZoNFNZbmdDREMxVDVkOTNobUF3N3BJLzZnTjJ2V0xVWTNNRworejRaeUxnbE9zRzhqaUNRRTBBWHpjbEZSSEh5VUNZVE9FNXMxQT09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0KCg==
  key: &key LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlHNVFJQkFBS0NBWUVBdTUzQTh5M0FBQyswdEI1cndRZjRyR3dadU5SRXU5bU5iTWhIUWlGcmc2T3ZjVUZLCjlBRFAyWXVuUmM2QmN5eDVLdkUwdWUrZU5xbGhtRVVyR3NLQWVVVFk0YUVGR2k2YXZPMXFOZjlUd0NlbUlNbEYKZklGaDhkdDljbUc5ekhLS1Y3WFFFdVZ3aTFiVTdvRzBCN3dBYld5MlBYelV0WjlhaFNPWXRpNTF1RXN2ZFhXbwpHTmIyRzVIUW1qdDIwR1BwbCtJZ2xvVmJQQ3RtTG16L3JNUXhwNk90ZWtnUXhXLzljTUdjVnNmVGNzR2F0TFBtCkVzaUMzdk1QZGpTRDByTVM2SmlQa0lWaWFmRDZaUmR4UEM2MVhLTitQZzNDdXdqNTMydGhWMEUyOWVqYXZZQkMKYi9nN1h0S2Z2eGZKSDJkTjNhNS9WNEhVdFliRmlRL2duUmozMVYvTlV2dkVxUmRYU0lyQ2kza1NyV2dvaXpUTApJSVVsTmFEdGJXMnk0bTlGem5mOXZTNnY5TEhuS1JUL2RXRmp0VEhXQkV1NXk0d0V0dTUxb25hYk1kUDRGckVHCldEaGJoOXV4YXV4UUhkM3RXcDVtWndBdTFFUzJIbVErTmVjOE9mN3RSRlEvRmJKNWozbVJUeUlIWUlRM1IxcWIKNjd4aFRSWlI2dlIwZll5RkFnTUJBQUVDZ2dHQkFLRHQvUzdhWkdJRWliVWlqdjBoc0UxOTRFWnBWWmZvVVdZcApHTzZCcWk1ZGZrVGdZOEdPM0xyWERxRlRORGl0d2pWeWR1Nnl1ZnhiS0FxcjhnQmZMRUpaS3N2SENaQmV2MzRsCkM4RExoWFJDemo0N1J1NDRNT0o3aWt4TnlMY1EzTmZGYlhoMzlDU2hVNzVONVRYcExsaXVNbGZsdHJNZndFNkoKclJsQUd0djlLZlZQK2VOc3ArZ1lHRjNqZWRQZ2orTW5KUnJYd3QyR3dIdzhKTWQxOXIyOEtUYkZrQlU3TGFMRgpnQ3Z6OWN6dWdweFQzNXJuQVZMcUhLNGc5NTRJMlVvc1N4ZFZzM256WFFjUFlESVlLT3BaMmN6U2hNRXdHVWEzCmg3WjNQWkR5UTc1bmY2VUNNMzZtVFZjRm1ZVGJoMWpWS251T2JMMGJlU1RxYi9KM3p4Znd2enppZFNTMEhidzAKcis2eDd6WldjeUdPM0VYRTJsVDlKQVdQYzlBQ05DSFNGbjczZEp2Yk5NeU5hYTZ2YitaUDR0Q21YK1Y2RWFybApXOGdCTS9oZzNwS2wvWkwzTHIzRmRUMDdncyt3N1BKd3JGUWxzUVVXRGU0dStNNDZjaFNiZk9IaW9OZHM5Ny9WCnd5azNXaFYrdnh2c3YvZzQ5VHRUeTV0OW5RaGRGUUtCd1FEenpCT2xDaFVxM3BIU2FXaHFjdUpkSFhNeUd5eUwKMFhZVmVkR2JwQURJODNRVUhZK0cwa1pLaUFZY3FadkVpaDZWT2Y0bGZhTWZGcnJCaGpGeHdQNlhXZmtRb2FzcAp1TDFlWldLTGQ2Y0xVOVk5UnJDd2dCMWtibVpmbnJiZTJxQS85azcvSEc3TzhET3E3WkFiR1J4bEpqbi9oaytHCnVqUjdUdWJkN0U1T28vYk1FTXo2bVFnVmlNNDVWYy9DZ1lVeDRCdS9NdG0zSXplRFQyWjFtNUs2SmZrbklMQWgKMm1JZHVqbmR2ckZ3M1JXN0R6WHlNUEJVNm9sdDFpdkZUVDhDZ2NFQXhRSEx2MlZXeEFVL2FHNVlxNms5VVJjaQp2TjhYMkg4clEvc293bE9yZWF1cU91UmZTZlRzTjh5b0FvT3JXTXF2aG1lVmJONFA2dnc0Y2ROTXBTaUJXZ29UCndJQ05rQzFOZ3ZxZ1ljZURUYVJGQWNHY3JFZ0x3YzYwZlhFWUUrM2ltaWk3eG80Mi9IaXZUTGw4N3B6bHRZa1kKN1NUNC9FNnA2RFZqZEJsMEpoOUQxTlhsVjFEMmlGd0NURzRUYVhUbEkvZk14WWUzTHhyY0FHWGsyTzVtaFEzNgpPNTFvTUdoclFHQXpXVFJKbXRGMUM4MFNpSEY0L2Y3U2hqclA2SUU3QW9IQkFPeko2TWFpWFY3TzMrankwaVNaCndyeFh6enY2WXJER1Y1K1NPd0NsTU5IOGkyRENPVlhrUTdzK0ZGbWdicGRjNDBsakV6SU1yZk9UR3Y2OXZLWlUKb2JJVkJEQ2dKV09YZCs0SUlNZC9CbktkRWZkZ0FscmJoREM0Zlp3ZnhsUDdHaXdscWlKajFrZ055dEVZZlorawpLdzBmTExPL0d0eXJYQy9ydVpZUVh4cEliSHRWVWhHUHN1ZGZnWlQwZ0o3Vk42M3lrbUNKSGlhZkFOcjdzbk5HCkVDUFdvQURkNGRSdmpGNTlNcGpxRHVPbEIrY3daZC8rb2w2SGtjVnBnQWZZOXdLQndRQ1BQbk1MUTRBSEgxbXYKY1N5QUJKcFU3K0dPT3hoM2psL0RHa2ZVcEVtMk9oK1ltcHkraFp1TUp2NnlkVktOU1RLL0kybitzcWdZVURRcQpiMXozYWJCRDY3Zlk3S0FDQ1M2bTRkemp1OUc1RG93dWJyeWdkL0kwaFR1dlNpQWJ2WWhhVnV2UnYyNHp2UHlaCmFQVngraHI4R0NkTHB1cHphaThZYkZsWC9YbjZqaGtnRkRhaGVua0hSUDlXMjJLNTl3ajFVaVJPTEJRQjZDRzMKR0YrQmJEYVc0RWJtT2RtYitSQ2l5bEFMdUgwY1dOZ21NSUlkTzRTaUNqckE1dHB0VUNrQ2djQkdBTDU2TmJiSQpibHBGaDY4SU5HRWMzT2ZSdnJURXJaUlJmSTZOdUlPRWs4cFVRM0xJMThHUkF2N2tkTlZjbjd4TXliR0FSOUZ4CkFQL1U2MFVJZktGSG9SUUxKUXNaUTc4TzVNeSszRWd2S2JWSFpVN1lZYzdrc0IwN2NxdWx3L29kSHBuQTZlc2UKcW9xdFpYdFV4TDZieGJ0bGtvaUJ0YjFVTTZHRjVDeCtOTWJ4RktDS1FTZmFQU0tNTUxkTWcwZHlHTVJxckNHUAoxdXVVQzZ4aHlvVVFDQlhJRUE0LytyeWcvZlJ1R2VYWTlxSWVmUWhmOUN1WSt3NXRBNHMrZnFzPQotLS0tLUVORCBSU0EgUFJJVkFURSBLRVktLS0tLQoK
  ca: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVVekNDQXJ1Z0F3SUJBZ0lRVjc3Vlpuek51TzE2aHJXU3l4aDdDVEFOQmdrcWhraUc5dzBCQVFzRkFEQXoKTVF3d0NnWURWUVFHRXdOVlUwRXhGakFVQmdOVkJBb1REVU5zYjNWa0lFWnZkVzVrY25reEN6QUpCZ05WQkFNVApBbU5oTUI0WERUSXdNREV5TnpJd01qWXlNbG9YRFRJeE1ERXlOakl3TWpZeU1sb3dNekVNTUFvR0ExVUVCaE1EClZWTkJNUll3RkFZRFZRUUtFdzFEYkc5MVpDQkdiM1Z1WkhKNU1Rc3dDUVlEVlFRREV3SmpZVENDQWFJd0RRWUoKS29aSWh2Y05BUUVCQlFBRGdnR1BBRENDQVlvQ2dnR0JBTGZQak8zZ1BOVllqMUVaMU9DcUwybFVFTkFDdkVHaQpuVDc1dmgrM0NnaExEazZ1ZW1wRXNQTFNRYWRyL0p0K2laNy9EcjF5M1Y2QlpLdFZtVzlpN21KZHMwS1FCdUdLCklMWWZhLzhiTzl0VG5GM2FDT1VLM1B2TmdXaDhDUVk4VVhTWExHcGpUOFNQeGdFajh0Rkd5TXhEWTRJbk8wNDEKYlJNb3BXSDJYUURiNndUYUVWSUFRZGxsbTBqeUJOeWdLNlk2RDhCcFJBSm5naDFTcDVDdmVQK1k5eEY5c1F0MApwTVZYYmNwdG8vYU5ZSzVnMVBPbkFkdStsNDd3RnhpVmUwU3p6OURWcFYwd2greEk4dTF5Q3dYSkxsNlFVcjQzCktRdk5NUGNPZnlPVklxSklSVkxNeWhSSVVmQjJhdGNXTnZOMjU5OWY4b0k1U0tPNzNYMkZGZWNKVHVaVlpVVU4KdExIWEJwbktwTVVMS2xWbTloc20wU0pFTGROQUg0d0VNT1o4WERodnNoQ3J2T0orNS92TENCVTY2YUlOWE84bQo0VC94SEJhb1NCbXpzbE93aytsSUtDa1JhcGhxOTl3eURSK01US0ZpRUVtSENwQTFIMVoyUDVJTHk4Sm5lZTRVCkFUYy9lZjFLNXBMeXdGMjM4Mlpyb0VUWGhpSHR1RUdDTFFJREFRQUJvMk13WVRBT0JnTlZIUThCQWY4RUJBTUMKQVFZd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFRmdRVXVkL2xZUmRoUkJuQlNxbmVObm53Mnp4Zgp1cU13SHdZRFZSMGpCQmd3Rm9BVXVkL2xZUmRoUkJuQlNxbmVObm53Mnp4ZnVxTXdEUVlKS29aSWh2Y05BUUVMCkJRQURnZ0dCQUdubCtRN3NWelEwaDY1T0tCOG1vRzluK040a1VNdFMrdUxRUEVlSTJOSFVWQ2FxcHZ5SU9hM08KY2kxQ0ZtQnkrTmlOZVI5Mm5CdForZWtpcGdsR3hHTHpSSjB0ZytEV3RxemRlMFZscisvTHZJZ1RlNnZIZi9mYQowd2N5YjlmQXE5WDMwREJnVWU3aGwyakt5cHBOZFI3N1g4WWVxT0lSR1NxT3lkek9Qb2VQUVMrcWlVUWVheUwzCkw5dDcrK011UVovU2plM3Y5bThUSFJleWZlZnBLRkd0bTlwMXppQ01TL1kwNnFpUGNqS2dod0E4RHR6eVM3RFgKOWVwbldwOTRlOVBoNlBqekdzSTY4Kzg0RVBSV3RmTlU3Q3NkS2lDZGFuSHhkYjFYUXRyYUVlb3NDN1B5WUxPVApYWFJ0OGtRWUd3R3R3R3IrY05SMUxwV3FyWGFhMEdRamJDTEc4T0ZVdDZGaVM1bVB4VVBOQXJIRzFRYUFEaURKCmhqbGxSOXJsM0JxVDdadHE4U0k1MkZDV2kvVkNycGU0TjEraWY4RnRscnNpZVlheSs0cElHSTV1eHZ6aXRzcmcKbHQrZEtmR3lFVTljUFJoQ1NteU5haVh1WmJMcnJ5V1NWY1g4NWhJK2ppUW1hSDVRNXZWVVZHd1NNakxQRDc0UgptMWNxdCtYRFlBPT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQoK

log_cache_ca:
  crt: CRT
  key: KEY

log_cache:
  crt: CRT
  key: KEY

log_cache_metrics:
  crt: CRT
  key: KEY

log_cache_gateway:
  crt: CRT
  key: KEY

log_cache_syslog:
  crt: CRT
  key: KEY

uaa:
  database:
    password: uaadb_password
  admin_client_secret: uaaadminclientsecret
  certificate:
    #! This certificate should be valid for uaa.cf-system.svc.cluster.local
    crt: *crt
    key: *key
  jwt_policy:
    #! This private key should NOT be base64 encoded
    signing_key: jwt_policy_signing_key
  encryption_key:
    passphrase: encryption_key_passphrase
  login:
    service_provider:
      #! This certificate/key should NOT be base64 encoded
      key: login_service_provider_key
      certificate: login_service_provider_certificate

doppler:
  tls:
    #! This certificate should be valid for doppler.cf-system.svc.cluster.local
    crt: *crt
    key: *key

eirini:
  tls:
    #! This certificate should be valid for eirini.cf-system.svc.cluster.local
    crt: *crt
    key: *key

app_registry:
  hostname: gcr.io
  repository: gcp_project_id/cf-workloads
  username: _json_key
  password: |
    contents_of_service_account_json

metric_proxy:
  ca:
    secret_name: "metric-proxy-ca"
    crt: *crt
    key: *key
  cert:
    secret_name: "metric-proxy-cert"
    #! This certificate should be valid for metric-proxy.cf-system.svc.cluster.local
    crt: *crt
    key: *key

