#@ load("@ytt:data", "data")
#@ load("@ytt:library", "library")
#@ load("@ytt:template", "template")
#@ load("/namespaces.star", "system_namespace")

#@ def logging_values():
system_domain: #@ data.values.system_domain
system_namespace: #@ system_namespace()
#@ end

#@ logging = library.get("cf-k8s-logging")
--- #@ template.replace(logging.with_data_values(logging_values()).eval())
