#@ load("@ytt:data", "data")
#@ load("/namespaces.star", "workloads_namespace")

#@ def build_version():
#@   return "1.7.1"
#@ end

---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: restart-workloads
  namespace: #@ workloads_namespace()
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: restart-workloads
  namespace: #@ workloads_namespace()
rules:
  - apiGroups: ["apps", "extensions"]
    resources: ["statefulsets"]
    verbs: ["get", "patch", "list"]
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["delete", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: restart-workloads
  namespace: #@ workloads_namespace()
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: restart-workloads
subjects:
  - kind: ServiceAccount
    name: restart-workloads
    namespace: #@ workloads_namespace()
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: restart-workloads
  namespace: istio-system
rules:
  - apiGroups: ["apps", "extensions", ""]
    resources: ["daemonsets","pods","deployments","configmaps"]
    verbs: ["get", "patch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: restart-workloads
  namespace: istio-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: restart-workloads
subjects:
  - kind: ServiceAccount
    name: restart-workloads
    namespace: #@ workloads_namespace()
---
apiVersion: batch/v1
kind: Job
metadata:
  name: #@ "restart-workloads-for-istio" + build_version()
  namespace: #@ workloads_namespace()
  labels:
    cloudfoundry.org/istio_version: #@ build_version()
spec:
  backoffLimit: 2
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      serviceAccountName: restart-workloads
      restartPolicy: Never
      containers:
        - name: roll
          image: gcr.io/cf-networking-images/cf-k8s-networking/upgrade-sidecars@sha256:8cef1082ec0eb1d2e2f78c9b668065ce106de775cec929c745ca0e7f20a4c8fd
          env:
          - name: ISTIO_VERSION
            value: #@ build_version()
