#@ load("/namespaces.star", "system_namespace")

---
apiVersion: v1
kind: Namespace
metadata:
  name: #@ system_namespace()
  labels:
    cf-for-k8s.cloudfoundry.org/cf-system-ns: ""
    quarks.cloudfoundry.org/monitored: cf-quarks-secret
