---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: cloudfoundry/cf-for-k8s-ci

inputs:
- name: cf-for-k8s-ci
- name: cf-for-k8s-develop
- name: build-image
- name: run-image

outputs:
- name: cf-for-k8s-bumped

run:
  path: cf-for-k8s-ci/ci/tasks/bump-stack/task.sh
