#@ load("@ytt:data", "data")
#@ load("@ytt:library", "library")
#@ load("@ytt:overlay", "overlay")
#@ load("@ytt:template", "template")
#@ load("@ytt:yaml", "yaml")
#@ load("/namespaces.star", "system_namespace")
#@ load("/quarks-secret/quarks-secret.star", "quarks_secret_enabled")

#@ def uaa_db_host():
#@   if len(data.values.uaa.database.host) > 0:
#@     return data.values.uaa.database.host
#@   else:
#@     return "cf-db-postgresql.cf-db.svc.cluster.local"
#@   end
#@ end

#@ def database_query_params(scheme):
#@   useSSL=len(data.values.uaa.database.ca_cert) > 0
#@   if scheme == "postgresql":
#@     return "?sslmode=verify-full&sslfactory=org.postgresql.ssl.DefaultJavaSSLFactory" if useSSL else "?sslmode=disable"
#@   elif scheme == "mysql":
#@     return "?useSSL=true" if useSSL else "?useSSL=false"
#@   end
#@   return ""
#@ end

#@ def uaa_db_jdbc_url():
#@   return "jdbc:{}://{}:{}/{}{}".format(
#@     data.values.uaa.database.adapter,
#@     uaa_db_host(),
#@     data.values.uaa.database.port,
#@     data.values.uaa.database.name,
#@     database_query_params(data.values.uaa.database.adapter))
#@ end

#! When Quarks is enabled we need to provide an unused value for the uaa admin client secret
#! and subsequently overlay remove the rendered Secret. Otherwise the data value flows normally.
#@ def uaa_admin_client_secret_value():
#@ if quarks_secret_enabled():
#@ return "SecretValueNotUsed"
#@ else:
#@ return data.values.uaa.admin_client_secret
#@ end
#@ end

#@ def uaa_values():
admin:
  client_secret: #@ uaa_admin_client_secret_value()

database:
  url: #@ uaa_db_jdbc_url()
  scheme: #@ data.values.uaa.database.adapter
  username: #@ data.values.uaa.database.user
  password: #@ data.values.uaa.database.password

#@ if/end len(data.values.uaa.database.ca_cert) > 0:
#@overlay/replace
ca_certs:
  -  #@ data.values.uaa.database.ca_cert

namespace: #@ system_namespace()

jwt:
  policy:
    activeKeyId: "default_jwt_policy_key"
    keys:
      #@overlay/match missing_ok=True
      default_jwt_policy_key:
        signingKey: #@ data.values.uaa.jwt_policy.signing_key

encryption:
  active_key_label: "default_encryption_key"
  #@overlay/replace
  encryption_keys:
  - label: default_encryption_key
    passphrase: #@ data.values.uaa.encryption_key.passphrase

login:
  saml:
    activeKeyId: default_saml_key
    keys:
      #@overlay/match missing_ok=True
      default_saml_key:
        key: #@ data.values.uaa.login.service_provider.key
        passphrase: #@ data.values.uaa.login.service_provider.key_password
        certificate: #@ data.values.uaa.login.service_provider.certificate
#@ end

#@ def uaa_config():
#@overlay/match missing_ok=True
scim:
  userids_enabled: true
  user:
    override: true
  groups:
    zones.read: Read identity zones
    zones.write: Create and update identity zones
    idps.read: Retrieve identity providers
    idps.write: Create and update identity providers
    clients.admin: Create, modify and delete OAuth clients
    clients.write: Create and modify OAuth clients
    clients.read: Read information about OAuth clients
    clients.secret: Change the password of an OAuth client
    scim.write: Create, modify and delete SCIM entities, i.e. users and groups
    scim.read: Read all SCIM entities, i.e. users and groups
    scim.create: Create users
    scim.userids: Read user IDs and retrieve users by ID
    scim.zones: Control a user's ability to manage a zone
    scim.invite: Send invitations to users
    password.write: Change your password
    oauth.approval: Manage approved scopes
    oauth.login: Authenticate users outside of the UAA
    openid: Access profile information, i.e. email, first and last name, and phone number
    groups.update: Update group information and memberships
    uaa.user: Act as a user in the UAA
    uaa.resource: Serve resources protected by the UAA
    uaa.admin: Act as an administrator throughout the UAA
    uaa.none: Forbid acting as a user
    uaa.offline_token: Allow offline access

#@overlay/match missing_ok=True
oauth:
  client:
    override: true
  #@overlay/match-child-defaults missing_ok=True
  clients:
    cf:
      id: cf
      override: true
      authorized-grant-types: password,refresh_token
      scope: cloud_controller.read,cloud_controller.write,openid,password.write,cloud_controller.admin,scim.read,scim.write,doppler.firehose,uaa.user,routing.router_groups.read,routing.router_groups.write
      authorities: uaa.none
      access-token-validity: 600
      refresh-token-validity: 2592000
      secret: ""
    admin:
      authorized-grant-types: client_credentials
      authorities: clients.read,clients.write,clients.secret,uaa.admin,scim.read,scim.write,password.write,openid
      autoapprove:
      - openid
      id: admin
    cloud_controller_username_lookup:
      authorities: scim.userids
      authorized-grant-types: client_credentials
    cf_api_controllers:
      authorities: cloud_controller.write,cloud_controller.read,cloud_controller.update_build_state,cloud_controller.admin_read_only
      authorized-grant-types: client_credentials
    cf_api_backup_metadata_generator:
      authorities: cloud_controller.read,cloud_controller.admin_read_only
      authorized-grant-types: client_credentials
  #@overlay/match missing_ok=True
  user:
    authorities:
      - openid
      - scim.me
      - scim.userids
      - cloud_controller.read
      - cloud_controller.write
      - cloud_controller_service_permissions.read
      - password.write
      - uaa.user
      - approvals.me
      - oauth.approvals
      - profile
      - roles
      - user_attributes
      - uaa.offline_token

issuer:
  uri: #@ "https://uaa." + data.values.system_domain

#@overlay/match missing_ok=True
zones:
  internal:
    hostnames:
    - #@ "uaa." + system_namespace() + ".svc.cluster.local"

#@overlay/match missing_ok=True
#@overlay/match-child-defaults missing_ok=True
login:
  url: #@ "https://login." + data.values.system_domain
  entityBaseURL: #@ "https://uaa." + data.values.system_domain
  entityID: cloudfoundry-saml-login

#@overlay/remove
LOGIN_SECRET: "uaa-login-secret"

#@overlay/match missing_ok=True
uaa:
  url: #@ "https://uaa." + data.values.system_domain
  token:
    url: #@ "https://uaa." + data.values.system_domain + "/oauth/token"
  approvals:
    url: #@ "https://uaa." + data.values.system_domain + "/approvals"
  login:
    url: #@ "https://uaa." + data.values.system_domain + "/authenticate"
  limitedFunctionality:
    enabled: false
    whitelist:
      endpoints:
        - /oauth/authorize/**
        - /oauth/token/**
        - /check_token/**
        - /login/**
        - /login.do
        - /logout/**
        - /logout.do
        - /saml/**
        - /autologin/**
        - /authenticate/**
        - /idp_discovery/**
      methods:
        - GET
        - HEAD
        - OPTIONS
#@ end

#@ def overlay_uaa_config(old, new):
#@   return yaml.encode(overlay.apply(yaml.decode(old), uaa_config()))
#@ end

#@ uaa = library.get("uaa-k8s-release")
---
  #@ template.replace(uaa.with_data_values(uaa_values()).eval())

#! overlay CF-specific UAA configuration given there is no equivalent data values.
#@overlay/match by=overlay.subset({"kind":"ConfigMap", "metadata":{"name":"uaa-config"}})
---
data:
  #@overlay/replace via=overlay_uaa_config
  uaa.yml:

#! expose UAA under the system domain
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: uaa-external-virtual-service
  namespace: #@ system_namespace()
spec:
  hosts:
  - #@ "uaa." + data.values.system_domain
  - #@ "*.uaa." + data.values.system_domain
  - #@ "login." + data.values.system_domain
  - #@ "*.login." + data.values.system_domain
  gateways:
  - #@ system_namespace() + "/istio-ingressgateway"
  http:
  - route:
    - destination:
        host: #@ "uaa." + system_namespace() + ".svc.cluster.local"
        port:
          number: 8080

---

#@ def secret_uaa_client_credential_data(client_name, credentials):
oauth:
  #@yaml/text-templated-strings
  clients:
    (@= client_name @):
      secret: #@ credentials
#@ end

#@ def secret_uaa_client_credentials(client_name, credentials, secret_name):
---
apiVersion: v1
kind: Secret
metadata:
  name: #@ secret_name
  namespace: #@ system_namespace()
type: Opaque
stringData:
  client_credentials.yml: #@ yaml.encode(secret_uaa_client_credential_data(client_name, credentials))
#@ end

#@ def uaa_cf_admin_user_credentials():
scim:
  users:
  - #@ "admin|" + data.values.cf_admin_password + "|admin@admin.tld|first|last|clients.read,cloud_controller.admin,doppler.firehose,network.admin,openid,routing.router_groups.read,routing.router_groups.write,scim.read,scim.write|uaa"
#@ end

#@ if quarks_secret_enabled():
#! Remove UAA-templated admin client-secret so we can generate the credentials w/ Quarks
#@overlay/match by=overlay.subset({"kind":"Secret", "metadata":{"name":"uaa-admin-client-credentials"}})
#@overlay/remove
---
#@ else:
--- #@ template.replace(secret_uaa_client_credentials("cf_api_controllers", data.values.capi.cf_api_controllers_client_secret, "uaa-cf-api-controllers-client-secret"))
--- #@ template.replace(secret_uaa_client_credentials("cf_api_backup_metadata_generator", data.values.capi.cf_api_backup_metadata_generator_client_secret, "uaa-cf-api-backup-metadata-generator-client-secret"))
--- #@ template.replace(secret_uaa_client_credentials("cloud_controller_username_lookup", data.values.capi.cc_username_lookup_client_secret, "uaa-cloud-controller-username-lookup-client-secret"))

---
apiVersion: v1
kind: Secret
metadata:
  name: uaa-cf-admin-user-credentials
  namespace: #@ system_namespace()
type: Opaque
stringData:
  cf_admin_user_credentials.yml: #@ yaml.encode(uaa_cf_admin_user_credentials())
#@ end

--- #@ template.replace(secret_uaa_client_credentials("cf", "", "uaa-cf-client-secret"))


#@ load("@uaa-k8s-release:config/deployment.star",
#@  "secrets_dir")
#@overlay/match by=overlay.subset({"kind":"Deployment", "metadata":{"name":"uaa"}})
---
spec:
  template:
    spec: #! pod spec
      containers:
      #@overlay/match by="name"
      - name: uaa
        volumeMounts:
        #@overlay/append
        - name: cf-admin-user-credentials-file
          mountPath: #@ "{}/cf_admin_user_credentials.yml".format(secrets_dir)
          subPath: cf_admin_user_credentials.yml
          readOnly: true
        #@overlay/append
        - name: cc-admin-client-credentials-file
          mountPath: #@ "{}/cf_client_credentials.yml".format(secrets_dir)
          subPath: client_credentials.yml
          readOnly: true
        #@overlay/append
        - name: cloud-controller-username-lookup-client-credentials-file
          mountPath: #@ "{}/cloud_controller_username_lookup_client_credentials.yml".format(secrets_dir)
          subPath: client_credentials.yml
          readOnly: true
        #@overlay/append
        - name: cf-api-controllers-client-credentials-file
          mountPath: #@ "{}/cf_api_controllers_client_credentials.yml".format(secrets_dir)
          subPath: client_credentials.yml
          readOnly: true
        #@overlay/append
        - name: cf-api-backup-metadata-generator-client-credentials-file
          mountPath: #@ "{}/cf_api_backup_metadata_generator_client_credentials.yml".format(secrets_dir)
          subPath: client_credentials.yml
          readOnly: true
      volumes:
      #@overlay/append
      - name: cf-admin-user-credentials-file
        secret:
          secretName: uaa-cf-admin-user-credentials
      #@overlay/append
      - name: cc-admin-client-credentials-file
        secret:
          secretName: uaa-cf-client-secret
      #@overlay/append
      - name: cloud-controller-username-lookup-client-credentials-file
        secret:
          secretName: uaa-cloud-controller-username-lookup-client-secret
      #@overlay/append
      - name: cf-api-controllers-client-credentials-file
        secret:
          secretName: uaa-cf-api-controllers-client-secret
      #@overlay/append
      - name: cf-api-backup-metadata-generator-client-credentials-file
        secret:
          secretName: uaa-cf-api-backup-metadata-generator-client-secret
