#@ load("@ytt:data", "data")
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: routecontroller-config
  namespace: #@ data.values.systemNamespace
  annotations:
    kapp.k14s.io/versioned: ""
    kapp.k14s.io/num-versions: "2"
  labels:
    app.kubernetes.io/name: routecontroller-config
    app.kubernetes.io/component: cf-networking
    app.kubernetes.io/part-of: cloudfoundry
data:
  ISTIO_GATEWAY_NAME: #@ data.values.systemNamespace + "/istio-ingressgateway"
  RESYNC_INTERVAL: "900"
